.card {
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,1);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 10px;
    height: 99px;
    width: 77px;
    float: left;
}

.card > img {
    border-radius: 5px 5px 0 0;
    height: 99px;
    width: 77px;
}

.hovered {
    background-color: #ccc;
}

.transformDiagonalRight {
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.transformDiagonalLeft {
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.graveyardArea {
    border: 1px dashed #ccc;
    height: 99px;
    width: 77px;
    float: left;
}

.landsArea {
    border: 1px dashed #ccc;
    height: 99px;
}

.enchantsArtsArea {
    border: 1px dashed #ccc;
    height: 99px;
}

.creaturesArea {
    border: 1px dashed #ccc;
    height: 99px;
}

.handArea {
    border: 1px dashed #ccc;
    height: 99px;
}

.deckArea {
    border: 1px dashed #ccc;
    height: 99px;
    width: 77px;
    float: right;
}

.deckControls {
    float: right;
    margin-top: 25px;
}

.search {
    float: right;
}

.lifeOverlay {
    position:absolute;
    margin-left:10px;
    margin-top:2px
}

#loadingCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1999;
}